<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.best_aid.proloy.lifesaver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.best_aid.proloy.lifesaver.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.best_aid.proloy.lifesaver.Activity.QuestionActivity"></activity>
        <activity android:name="com.best_aid.proloy.lifesaver.Activity.ActivitySignUp" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.MainActivity"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityLogin"
            android:label="Best Aid">

        </activity>
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityRegistration"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityApointment"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityDoctorProfile"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityDateFix"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityBlood"
            android:label="Best Aid"></activity>
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityReceipt"
            android:label="Best Aid" />
        <activity
            android:name="com.best_aid.proloy.lifesaver.Activity.ActivityCatagory"
            android:label="Best Aid" />
    </application>

</manifest>